@mixin transition($spec...) {
	-webkit-transition: $spec;
	-moz-transition:    $spec;
	-o-transition:      $spec;
	transition:         $spec;
}

.box {
	background: red;
	position: relative;
	width: 100px;
	height: 100px;
	@include transition(all 1s ease-in-out);

	#toggler:checked ~ & {
		background: green;
		left: 300px;
	}
}