.box {
	background: red;
	position: relative;
	width: 100px;
	height: 100px;
	// @include transition(/* both properties by one second, ease in & out */);

	#toggler:checked ~ & {
		background: green;
		left: 300px;
	}
}