.page {
	max-width: 70em;	
	margin: 0 auto;
}
.content-margins {
	margin: 10px;

	@include respond-min(60em) {
		margin: 20px;
	}
	@include respond-min(75em) {
		margin: 40px;
	}
}
.primary {
	@include respond-min(45em) {
		float: left;
		width: 70%;

		& .content-margins {
			margin-right: 30px;
		}
	}
}
.secondary {
	@include respond-min(45em) {
		float: left;
		width: 30%;
	}
}