// icons
	.i {
		width: 48px;
		height: 48px;
		margin: 5px 0;
		display: inline-block;
		vertical-align: middle;
	}

	.i-amazon {
		background-image: url(imgs/social-icons/amazon.png);
	}
	.i-creativecommons {
		background-image: url(imgs/social-icons/creativecommons.png);
	}
	.i-email {
		background-image: url(imgs/social-icons/email.png);
	}
	.i-facebook {
		background-image: url(imgs/social-icons/facebook.png);
	}
	.i-feed {
		background-image: url(imgs/social-icons/feed.png);
	}
	.i-flickr {
		background-image: url(imgs/social-icons/flickr.png);
	}
	.i-foursquare {
		background-image: url(imgs/social-icons/foursquare.png);
	}
	.i-github {
		background-image: url(imgs/social-icons/github.png);
	}
	.i-google {
		background-image: url(imgs/social-icons/google.png);
	}
	.i-instagram {
		background-image: url(imgs/social-icons/instagram.png);
	}
	.i-lanyrd {
		background-image: url(imgs/social-icons/lanyrd.png);
	}
	.i-lastfm {
		background-image: url(imgs/social-icons/lastfm.png);
	}
	.i-linkedin {
		background-image: url(imgs/social-icons/linkedin.png);
	}
	.i-reddit {
		background-image: url(imgs/social-icons/reddit.png);
	}
	.i-speakerdeck {
		background-image: url(imgs/social-icons/speakerdeck.png);
	}
	.i-twitter {
		background-image: url(imgs/social-icons/twitter.png);
	}
	.i-youtube {
		background-image: url(imgs/social-icons/youtube.png);
	}