@mixin social-sprite($pos) {
	background: url('imgs/social-sprites.png') no-repeat $pos;
	width: 24px;
	height: 24px;

	@media only screen and (min--moz-device-pixel-ratio: 1.5),
	       only screen and (-o-min-device-pixel-ratio: 3/2),
	       only screen and (-webkit-min-device-pixel-ratio: 1.5),
	       only screen and (min-resolution: 1.5dppx) {
		background-image: url('imgs/social-sprites@2x.png');
		background-size: 199px auto;
	}
}